[submodule "thirdparty/nvdla"]
	path = thirdparty/nvdla
  url = git@github.com:jameshanlon/hw.git
  branch = build
[submodule "netlist-paths"]
	path = netlist-paths
	url = https://github.com/jameshanlon/netlist-paths.git
[submodule "thirdparty/picorv32"]
	path = thirdparty/picorv32
	url = https://github.com/cliffordwolf/picorv32.git
[submodule "thirdparty/rsd"]
	path = thirdparty/rsd
	url = git@github.com:jameshanlon/rsd.git
  branch = netlist-paths
